<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.PermissionsMapper">

    <!--获取权限名称的序号-->
    <select id="getByName" resultType="java.lang.String">
        SELECT
            permissions.id
        FROM tbl_permissions AS permissions
        WHERE permissions.permissions_name = #{permissionsName}
            LIMIT 1;
    </select>
</mapper>
